/**
* Body CSS
*/
html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
buttons {
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

img {
  margin: 10px;
  border: 2px outset;
  border-color: #000000;
  width: 90%
}
