const config = {};

config.webserver_port_https = 5555;
config.webserver_port_http = 5556;
config.webserver_bind = '0.0.0.0';

config.database_username = 'postgres';
config.database_password = 'postgres';
config.database_host = 'db';
config.database_databasename = 'postgres';
config.database_port = 5432;

config.google_oauth_client_id = '';
config.google_oauth_client_secret = '';
config.google_oauth_callback_uri = '';

config.client_version = 10;

config.profile = 'debug';

module.exports = config;
